:root {
    --black: #212121;
    --dark-black: #111;
    --white: #ececec;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--white);
    font-size: 2em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15;
}

h2 {
    color: var(--white);
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    color: var(--white);
    font-size: 1.2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5;
}

div {
    color: var(--white);
    font-size: 1em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: var(--dark-black);
    color: var(--white);
    font-size: 1.5em;
    text-align: center;
    border: 0;
    cursor: pointer;
}

footer {
    color: var(--white);
    text-align: center;
    padding: 12px 10px 12px;
}

footer p {
    margin: 0;
    padding: 0;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
}

.title-container h1 {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 25px auto;
    padding: 20px;
    background-color: #808080;
}

.horizontal-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;

    width: fit-content;
    padding: 10px;
    background-color: #b5b5b5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--white);
    color: var(--black);
    font-size: 18px;
    margin: 15% auto;
    padding: 20px;
    width: fit-content;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: var(--dark-black);
    text-decoration: none;
    cursor: pointer;
}

#webcam-placeholder {
    width: 640px;
    height: 480px;
    margin: 0;
    padding: 0;
    background-color: #646464;
}

#videoElement {
    width: 640px;
    height: 480px;
    margin: 0;
    padding: 0;
    background-color: #646464;
}

/* to be implemented... (I think we'll need it for opencv or smt, issa we see, at the very least it might help while testing) */
#canvas {
    width: 640px;
    height: 480px;
    margin: 0;
    padding: 0;
    background-color: #646464;
}