<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ url_for('static', filename='assets/icon.png') }}">

    <link rel="preconnect" hSref="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Workbench&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Forbidden Access</title>
</head>

<body>
    <div>
        <h1>Access Forbidden</h1>
    </div>

    <div id="return-button">
        <a href="{{ url_for('index') }}">Return to Main Page</a>
    </div>

    <div>
        <p> The requested content is forbidden. Please check the URL or try again later.</p>
        <p> Error: {{ error }}</p>
    </div>
</body>

</html>