:root {
    --black: #212121;
    --dark-black: #111;
    --light-black: #333;
    --white: #ececec;
    --bright-white: #fff;
    --link: rgb(0, 145, 255);
    --link-highlight: rgb(0, 187, 255);
    --grey: #808080;
    --light-grey: #b5b5b5;
    --dark-grey: #646464;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--white);
    font-size: 2em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15;
}

h2 {
    color: var(--white);
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    color: var(--white);
    font-size: 1.2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5;
}

div {
    color: var(--white);
    font-size: 1em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
}

button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: var(--dark-black);
    color: var(--white);
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border: 0;
}

button:hover {
    background-color: var(--light-black);
    color: var(--bright-white);
    cursor: pointer;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--bright-white);
    cursor: pointer;
}

footer {
    color: var(--white);
    text-align: center;
    padding: 12px 10px 12px;
}

footer p {
    margin: 0;
    padding: 0;
}

footer a {
    color: var(--link);
    font-weight: bold;
}

td {
    padding: 10px;
}

footer a.hover {
    color: var(--link-highlight) !important;
    cursor: pointer;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
}

.title-container h1 {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 25px auto;
    padding: 20px;
    /* Consider removing backgrounds on these containers for a cleaner look!!! */
    /*background-color: var(--dark-grey);*/
}

.horizontal-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;

    width: fit-content;
    padding: 10px;
    background-color: var(--dark-grey);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--white);
    color: var(--black);
    font-size: 18px;
    margin: 15% auto;
    padding: 20px;
    width: fit-content;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--dark-black);
    text-decoration: none;
    cursor: pointer;
}

.info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 12px auto;
    padding: 10px 0;
}

.highlight {
    font-weight: bold;
    font-size: 110%;
}

.buttonSet {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    margin-top: 10px;
}

#emotion-container {
    width: 600px;
    margin: 10px auto;
}

#buttons {
    justify-content: center;
    width: fit-content;
    margin: 10px auto;
    margin-top: 0;
    padding: 0px;
}

#webcam-placeholder {
    width: 640px;
    height: 480px;
    margin: 0;
    padding: 0;
    background-color: #646464;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoElement {
    width: 640px;
    height: 480px;
    margin: 0;
    padding: 0;
    background-color: #646464;
}

/* to be implemented... (I think we'll need it for opencv or smt, issa we see, at the very least it might help while testing) */
#canvas {
    width: 640px;
    height: 480px;
    margin: 0;
    padding: 0;
    background-color: #646464;
}

#music-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 36px auto;
    padding: 10px 0;

}

#info-area {
    width: 40%;
    margin: 30px auto;
    padding: 20px;
    padding-top: 0;
    position: relative;
    display: none;
}

#info-area.active {
    display: block;
    animation: fadeInFromBottom 0.5s ease-out;
}

#info-area.inactive {
    animation: fadeOutToBottom 0.5s ease-out;
}

#side-container {
    display: none;
    padding: 20px 40px;
}

#side-container.active {
    display: block;
    animation: fadeInFromLeft 0.5s ease-out;
}

#side-container.inactive {
    animation: fadeOutToLeft 0.5s ease-out;
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutToLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-20px);
    } 
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutToBottom {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

#info-area p {
    margin: 8px;
    padding: 0;
}

#info-area h2 {
    margin: 10px;
    margin-top: 0;
    padding: 0;
}

#info-area a {
    color: var(--link);
    font-weight: bold;
}

#info-area a:hover {
    color: var(--link-highlight);
    cursor: pointer;
}

#hide-info {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 5px 10px;
    font-style: italic;
}

#hide-info:hover {
    color: var(--bright-white);
    cursor: pointer;
}

#return-button a {
    color: var(--link);
    font-weight: bold;
}

#return-button a:hover {
    color: var(--link-highlight);
    cursor: pointer;
}

#croppedFacePlaceholder {
    width: 224px;
    height: 224px;
    background-color: var(--grey);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}